.App {
    margin:0%;
    padding: 0%;
    background-color: white;
}

.container-fluid {
    position: fixed;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    
    
}

#Navbar {
    position: sticky;
    top: 0;
}



.backgroundImg {
    position: fixed;
    z-index: -1;
}

.createUserForm {
    position: fixed;
    top: 30%;
    left: 34%;
    width: 30em;
    border: 5px solid #0f3b57;
    padding: 2em;
    background-color: white;
    
}

.loginForm {
    position: fixed;
    top: 30%;
    left: 34%;
    width: 30em;
    border: 5px solid #0f3b57;
    padding: 2em;
    background-color: white;
}

.Workspace {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;

}



.writersdesk {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    padding: 2em;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.plotBox {
    position: absolute;
    z-index: 5;
    margin-top: 2em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 2em;
    height: 80%;
    width: 80%
}

.writersdeskPlot {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 2em;
    overflow-x: hidden;
    overflow-y: auto;
    height: 70%;
    width: 100%;
    z-index: 1;
}

.writersdesk img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    

}


.icon {
    width: 75px;
    height: 75px
}

.toolbox {
    list-style-type: none;
    justify-content: center;
    
}

.iconlist {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    
}



.testdiv {
    
    position: fixed;
    z-index: 1;
    top: 5em;
    left: 10em;
    width: 87%;
    height: 87%;
/*     display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        'new character character'
        'character character character'
        'character character character'; */
}

.characterBox {
    position: absolute;
    z-index: 5;
    margin-top: 4em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 2em;
    height: 70%;
    

        
    
}



.character-form {
    display: none;
    position: absolute;
    margin: auto;
    padding: 2em;
    width: 90%;
    height: 85%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9;
    background-image: url(../src/paper2.png);
    box-shadow: 10px 10px 5px;




}

.characterEdit-form.card {
    
    margin: 1em;
    padding: 2em;
    
    max-height: 570px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9;
    background-image: url(../src/paper2.png);
    box-shadow: 10px 10px 5px;

}

.exposition-form {
    display: none;
}

.conflict-form {
    display: none;
}

.rising-form {
    display: none;
}

.climax-form {
    display: none;
}

.fallingAction-form {
    display: none;
}

.resolution-form {
    display: none;
}

.expoEdit-form {
    display: none;
}

.conflictEdit-form {
    display: none;
}

.risingEdit-form {
    display: none;
}

.climaxEdit-form {
    display: none;
}

.fallingActionEdit-form {
    display: none;
}

.resolutionEdit-form {
    display: none; 
}

.settingEdit-form.card {
    margin: 1em;
    padding: 2em;
    
    max-height: 570px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9;
    background-image: url(../src/paper2.png);
    box-shadow: 10px 10px 5px;
    
}

.characterPost {
    margin: 1em;
    width: 15em;
    height: 15em;
    background-image: url(../src/paper.png);
    box-shadow: 10px 10px 5px;
    padding: 1em;
    box-sizing: border-box;
    
}

.characterPost a {
    text-decoration: none;
    color: black;
    z-index: -1;
}

.open-button {
    z-index: 4;
}

.characterProfile {
    position: fixed;
    border:5px solid #0f3b57;
    background-color: white;
    z-index: 5;
    top: 5em;
    left: 10em;
    width: 87%;
    height: 87%;
    overflow-y: auto;
}

.characterProfileBox {
    z-index: 6;
    background-image: url(../src/paper2.png);
    box-shadow: 10px 10px 5px;
    padding: 1em;
}

.openProfile {
    z-index: 6;
    border: 5px solid #0f3b57;
    background-color: white;
    position: fixed;
    top: 5em;
    left: 10em;
    width: 87%;
    height: 87%;
}

.setting-form {
    display: none;
    position: absolute;
    margin: auto;
    padding: 2em;
    width: 90%;
    height: 85%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9;
    background-image: url(../src/paper2.png);
    box-shadow: 10px 10px 5px;
}

.settingBox {
    position: absolute;
    z-index: 5;
    margin-top: 4em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 2em;
    height: 70%;

        
    
}
.settingPost {
    margin: 1vw;
    width: 15em;
    height: 12em;
    background-image: url(../src/paper.png);
    box-shadow: 10px 10px 5px;
    padding: 1em;
    
}

.settingPost a {
    text-decoration: none;
    color: black;
    z-index: -1;
}
.settingProfile {
    position: fixed;
    border:5px solid #0f3b57;
    background-color: white;
    z-index: 5;
    top: 5em;
    left: 10em;
    width: 87%;
    height: 87%;
}

.settingProfileBox {
    z-index: 6;
    background-image: url(../src/paper2.png);
    box-shadow: 10px 10px 5px;
    padding: 1em;
}



.xbutton {
    position: relative;
    float: right;
}

.card .card-body {
    box-shadow: 10px 10px 5px;
    /* background-image: url(../src/paper2.png); */
}

.card .card-title a {
    text-decoration: none;
    color: black;
}

.card .icons a {
    text-decoration: none;
    color: grey;
    float: right;
}

.cardPlot.card {
    flex-grow: 1;
    min-width: 246px;
    max-width: 425px;
}

.character-form.card {
    
    display: none;
    
    margin: 1em;
    padding: 2em;
    max-height: 570px;
    
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9;
    background-image: url(../src/paper2.png);
    box-shadow: 10px 10px 5px;
    
}

.setting-form.card {
    display: none;
    
    margin: 1em;
    padding: 2em;
    max-height: 570px;
    
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9;
    background-image: url(../src/paper2.png);
    box-shadow: 10px 10px 5px;
}

.register.card {
    
    top: 30%;
    margin: 4em;
    width: 30em;
    
    padding: 2em;
   
}

.plotButton {
    background: none;
    color: grey;
    border: none;
    float: right;
    
}

.plotButtonDiv {
    padding: 2em;

    
}

.constructionImg {
    max-width: min-content;
    
}

.sign {
    max-width: min-content;
    margin: center;
}